@charset "UTF-8";

@import "common/var";

@mixin button-variant($color, $background-color, $border-color) {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;

    &.is-disabled {
        &,
        &:hover,
        &:focus,
        &:active {
          color: $--color-white;
          background-color: mix($background-color, $--color-white);
          border-color: mix($border-color, $--color-white);
        }
    }
}

.button{
    border-radius: 4px;
    font-weight: 500;
    border: 1px solid;
    padding: 0 12px;
    font-size: .875rem;
    height: 32px;
    &:hover {
        transform: scale(1.1);
    }
    &.is-disabled{
        cursor: not-allowed;
        background-image: none;
      }
      &-default{
        background-color: $--button-default-background-color;
        color: $--button-default-font-color;
        border-color:  $--button-default-border-color;
        &.is-disabled{
            background-color: $--button-disabled-background-color;
            color: $--button-disabled-font-color;
            border-color: $--button-disabled-border-color;
        }
      }
      &-primary{
        @include button-variant($--color-white,$--color-primary,$--color-primary);
      }
      &-warning{
        @include button-variant($--color-white,$--color-warning,$--color-warning);
      }
      &-danger{
        @include button-variant($--color-white,$--color-danger,$--color-danger);
      }
}